<h3> 5 Delicious Food Facts</h3>
<p> 1.The world’s longest French fry is 34-inches long. </p>
<p> 2. Garlic bulbs are full of Vitamin C, iron, potassium, magnesium, zinc and more. It also has 17 amino acids.
</p>
<p> 3. On the South Atlantic island of Tristan da Cunha, potatoes were once used as currency.</p>
<p> 4. The strawberry is the only fruit that bears seeds on the outside.</p>
<p>5. According to Tori Avey, coffee became a popular drink in America after the Boston Tea Party of 1773: making
  the switch from tea to coffee was considered a patriotic duty.</p>
<p>6. The double coconut palm produced the biggest seed in the world: 45 pounds.</p>
<p> 7. Ice cream was once called “cream ice.”</p>
<p> 8. Pound cake is so-called because the recipes once called for a pound of butter, a pound of sugar, a pound of
  eggs and a pound of flour. </p>
<p> 9. Peanuts aren't nuts! (They're legumes.)</p>
<p> 10. Carrots weren't always orange: they were once exclusively purple. </p>

<p>11. Cherries are a member of the rose family (Rosaceae) as are quince, pears, plums, apples, peaches and
  raspberries! </p>
<p> 11. Cherries are a member of the rose family (Rosaceae) as are quince, pears, plums, apples, peaches and
  raspberries! </p>
<p> 12. Lima beans have an amazing ability to command wasps as a defense. If insects are eating the lima bean's
  leaves, the plant gives off a substance that acts as a signal to parasitic wasps to swoop in and destroy their
  enemy (i.e. the leaf-eating insects).</p>
<p>13. Apples float because they are one quarter air! </p>

<p>14. Ripe cranberries will bounce like a ball. (Go on, try it!). They also float. </p>
<p>15. German Chocolate Cake is not from Germany. German is actually the last name of the man who invented a kind of
  baking chocolate (Sam German).</p>